*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.container{
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0,0, 0.3);
}
.container nav{
    position: relative;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container nav::after{
    content: "";
    position: absolute;
    background: silver;
    height: 1px;
    width: 100%;
    top: 90%;
    filter: blur(0.5);
}
.container nav label{
    position: relative;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease;
}
#blog :checked ~ nav label .home
#blog :checked ~ nav label .blog
#blog :checked ~ nav label .code
#blog :checked ~ nav label .help
#blog :checked ~ nav label .about{
    color: #6f55ca;
}

input[type='radio']{
    display: none;
}
.container nav .slider{
    position: absolute;
    height: 5px;
    background-color: #6f55ca;
    border-radius: 20px;
    z-index: 1;
    width: 20%;
    left: 0;
    bottom: 1px;
    transition: all 0.3s ease;
    filter: blur(0.4px);
}
#blog:checked ~ nav .slider{
    left: 20%;
}
#code:checked ~ nav .slider{
    left: 40%;
}
#help:checked ~ nav .slider{
    left: 60%;
}
#about:checked ~ nav .slider{
    left: 80%;
}
#home:checked ~ nav .home{
    color: #6f55ca;
}
#blog:checked ~ nav .blog{
    color: #6f55ca;
}
#code:checked ~ nav .code{
    color: #6f55ca;
}
#help:checked ~ nav .help{
    color: #6f55ca;
}
#about:checked ~ nav .about{
    color: #6f55ca;
}
section{
    filter: blur(0.3px);
    width: 80%;
    display: flex;
    align-items: center;
}
section .content{
    display: none;
    margin-bottom: 20px;
}
section .content .title{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}
#home:checked ~ section .content-1{
    display: block;
}
#blog:checked ~ section .content-2{
    display: block;
}
#code:checked ~ section .content-3{
    display: block;
}
#help:checked ~ section .content-4{
    display: block;
}
#about:checked ~ section .content-5{
    display: block;
}
.develop{
    
    line-height: 1.8;
    margin: 10px 0 10px 0;
}
.develop li{
    list-style-type: none;
}
.develop li a{
    text-decoration: none;
}






